{% extends "layout.html" %}

{% block title %}
{{channel.name}}
{% endblock %}

{% block main %}
<div id="messages">
    {% for message in channel.messages %}
    <div class="message">
        <p>
            <span>{{message.username}}</span>
            <span>{{message.timestamp}}</span>
        </p>
        <p>{{message.content}}</p>
    </div>
    {% endfor %}
</div>
<form action="">

    <input class="input-field rounded-corners"
           id="messageField"
           data-channel_id="{{channel.channel_id}}"
           autofocus>
    <input class="search-button call-to-action"
           type="submit"
           id="sendButton"
           value="Send">
</form>

<p class="error"></p>

{% endblock %}