{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
Welcome {{username}}!
Please chose a channel or create a new one

<form action="/"
      method="post"
      class="login">
    <div>
        <input type="text"
               name="channel-name"
               class="input-field rounded-corners">
        <input class="call-to-action"
               type="submit"
               value="Create Channel">
        <ul class="errors">
            {% for error in errors %}
            <li>{{error}}</li>
            {% endfor %}
        </ul>
    </div>
</form>

{% for channel in channels %}
<a class="route-link"
   href="{{ url_for('channel', id=channel.channel_id) }}">{{channel.name}}</a>
{% endfor %}

{% endblock %}